.nav{
  grid-area: n;
  background-color: #395e8a;
  padding: 20px;
}

.item a{
  color: #6a8cb1;
  text-decoration: none;
  transition: all .3s;
  padding-bottom: 10px;
  display: inline-block;
  font-weight: bold;
}
.item a:hover{
  color: #fff;
}

.item a.active{
  color: #fff;
}